<!DOCTYPE html>
<html>
  <head>
    <title>TechTogether</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>TESTING YO</h2>
    <h2><%= @person[:name] %></h2>
  </body>
</html>
